In [1]:
!python -V

Python 3.7.7

- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
a = "Hello"
b = "Python"
print(a+" "+b) # print() 는 출력 처리를 해주는 함수
1 + 1

In [4]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어 ex) if 3 in [1,2,3,4]: print("3이 있습니다")
if 3 in [1,2,3,4]: print("3이 있습니다")

3이 있습니다

In [5]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177  # 8진수 0o or 0O로 시작
f = 0xABC # 16진수 0x로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

123
-123
0
1.23
127
2748

In [6]:
# 사칙연산
a = 10
b = 2.3
c = a + b
d = a * b
e = a / b
f = a % b # 나머지
g = a // b # 몫
h = 2 ** 2 # 제곱
print(c)
print(d)
print(e)
print(f) 
print(g)
print(h)

12.3
23.0
4.347826086956522
0.8000000000000007
4.0
4

In [7]:
# TypeError 예외
String = "문자열"
# number = 273
number = '273'
String + number

'문자열273'

In [8]:
# 변수와 입력
# C, C++, Java 등에서는 기본적으로 변수 사용시 자료형에 대해 미리 선언해 주어야 하는 반면
# 파이썬은 자료형을 지정할 필요 없음. 같은 변수에 여러 종류의 자료형을 넣을 수 있음
# a = "문자열"
# a = True
a = 10
print(a)

10

In [9]:
# 복합 대입 연산자
number = 100
# number = number + 20
number += 20  # 숫자 덧셈 후 대입 number = number + 20 
number += 30
print(number)

150

In [10]:
# -=, *=, /=
# Q. number = 100일 때, 20을 빼고 30을 더하는 연산을 복합연산자를 사용해서 구하세요
number = 100
number -= 20
number += 30
number

110

In [11]:
# 사용자 입력 : input()
input("인사말을 입력하세요> ")

인사말을 입력하세요> 안녕하세요

'안녕하세요'

In [12]:
String = input("인사말을 입력하세요?> ")
print(String)
print(type(String))

인사말을 입력하세요?> 안녕하세요
안녕하세요
<class 'str'>

In [13]:
# input 함수는 무엇을 입력해도 결과는 무조건 문자형
number = input("숫자를 입력하세요?> ")
print(number)
print(type(number))

숫자를 입력하세요?> 5
5
<class 'str'>

In [14]:
# Q. 아래에서 3과 3을 입력하면 문자열 연산이 수행되어 33이 출력된다.
# 문자열을 숫자 자료형으로 변환해서 숫자 연산을 수행하여 6을 출력하세요.
String_a = input("입력A> ")
String_b = input("입력B> ")
print(String_a + String_b)

# 입력A> 3
# 입력B> 3
# 33

입력A> 3
입력B> 3
33

In [15]:
# A. 정수로 변환 후 연산 수행
String_a = input("입력A> ")
String_b = input("입력B> ")
String_a = int(String_a)
String_b = int(String_b)
print(String_a + String_b)

입력A> 3
입력B> 3
6

In [ ]:
# Q. 아래에서 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3출력하세요.

String_a = input("입력A> ")
String_b = input("입력B> ")
String_a = int(String_a)
String_b = float(String_b)
print(String_a + String_b)

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 자료형으로 변환하세요.

a = str(52)
b = str(52.273)
a+b

In [ ]:
# 문자열 :  "", '', """ """, ''' '''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)
# print(p2)

In [ ]:
s1 = '"python is valuable" he says.'
# s2 = ""python is valuable" he says."
print(s1)
# print(s2)

In [ ]:
t1 = 'Python\'s value is great'
t2 =  "\"python is valuable\" he says."
t2 =  "'python is valuable' he says."
print(t1)
print(t2)

In [ ]:
y1 = "Once you study data analysis\nYou need Python"
y2 = '''
Once you study data analysis
You need Python
'''
print(y1)
print(y2)

In [ ]:
# 문자열 연산
a1 = "Python"
a2 = " is easy to learn"
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

In [ ]:
# 들여쓰기
ld = ['a','b','c']

if 'a' in ld:
    print('a가 ld에 있습니다.')

else:
    print('a가 ld에 없습니다.')

In [ ]:
# 포멧함수
f9 = "{} 선수가 {}등 입니다!!!".format("이길동",1)
print(f9)
print("%s 선수가 %d등 입니다!!!" %("홍길동", 2))

In [ ]:
f5 = '{:10.2f}'.format(ff)
print(f5)

In [ ]:
# 포멧함수
f1 = '{}{}{}'.format(0,1,2)
print(f1)
f2 = "파이썬은 자바보다 {0}배 쉽습니다.".format(2)
print(f2)
fd = 12345
f3 = '{:d}'.format(fd)
print(f3)
f4 = '{:10d}'.format(fd)
print(f4)
ff = 12.3456789
f5 = '{:f}'.format(ff)
print(f5)
f6 = '{:15f}'.format(ff)
print(f6)
f7 = '{:.2f}'.format(ff)
print(f7)
f8 = '{:15.2f}'.format(ff)
print(f8)
f9 = "{} 선수가 {}등 입니다!!!".format("홍길동",1)
print(f9)
print("%s 선수가 %d등 입니다!!!" %("홍길동", 1))

In [10]:
# 파이썬에서 숫자, 문자열, 리스트, 더블은 모두 객체
# 정숫값(Integer) 중 자주 사용할 것 같은 범위의 정숫값은 메모리에 한 번만 올려두고 
# 이를 여러 변수가 가리키게 함으로써 메모리를 효과적으로 사용.
# 256까지는 id 값이 같지만 257부터는 서로 다른 객체가 생성되는 것을 확인
x = 256
y = 256

a = 257
b = 257

print(id(x),id(y))
print(id(a), id(b))

140729056608624 140729056608624
2453442747312 2453442747376

In [1]:
# 변수와 인자 전달
# 파이썬에서는 a와 b가 같은 객체인 [1,2,3]을 가리킨다.
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [5]:
# 함수에 객체를 인자로 넘기면 새로운 지역 변수가 생성되고 원래 객체를 복사하지 않고 참조만 함
def append_element(some_list, element):
    some_list.append(element)
    
data = [1,2,3]
append_element(data,4)
data

[1, 2, 3, 4]

In [1]:
# 자바와같은 컴파일 언어와는 달리 파이썬에서는 객체 참조에 타입이 관여하지 않음
a = 5
print(type(a))
a= ' foo'
print(type(a))

<class 'int'>
<class 'str'>

In [2]:
# 변수는 특정한 네임스페이스 안에 존재하는 객체에 대한 이름이며 자료형에 대한 정보는
# 객체 자체에 있다. 파이썬은 자료형이 있는 언어임
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [6]:
a = 5
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b)))
c = a / b
print(c,type(c))

a is <class 'int'>, b is <class 'int'>
2.5 <class 'float'>

In [9]:
# 객체의 자료형을 아는 것은 다양한 종류의 입력 처리할 수 있는 함수를 작성 시 유용
# isinstance 함수 : 자료형 검사
a = 5; b = 4.5
print(isinstance(a, int))
isinstance(a, (int, float))

True

True

In [11]:
# 객체는 속성값과 행동을 가지고 있는 데이터이다
# Any data with state (attributes or value) and defined behavior (methods).    
# Also the ultimate base class of any new-style class.
# 파이썬에서 객체는 일반적으로 속성과 메서드를 포함
a = 'foo'
a.capitalize()

'Foo'

In [12]:
getattr(a,'split')

In [ ]:
# iterable 객체 - 반복 가능한 객체
# 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range
# iterable객체는 매직메소드 __iter__ 메소드를 포함
# iterator 객체 - 값을 차례대로 꺼낼 수 있는 객체
# iterator는 iterable한 객체를 내장함수 또는 iterable객체의 메소드로 객체를 생성
# 파이썬 내장함수 iter()를 사용해 iterator 객체를 생성

In [19]:
a = [1,2,3]
a_iter = iter(a)
print(type(a_iter))
for i in a:
    print(i,end=' ')

<class 'list_iterator'>
1 2 3

In [29]:
# dir() 내장 함수는 어떤 객체를 인자로 넣어주면 해당 객체가 어떤 변수와 메소드(method)를 
# 가지고 있는지 나열
b = {1,2,3}
dir(b)
b.add('a')
b

{1, 2, 3, 'a'}

In [31]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:  # iterable 객체 아님
        return False

In [32]:
print(isiterable('a string'))
print(isiterable([1,2,3]))
print(isiterable(5))

True
True
False

In [ ]:
# %load some_module.py
PI = 3.14159
def f(x):
    return x + 2
def g(a, b):
    return a + b

In [34]:
import some_module
result = some_module.f(5)
pi = some_module.PI
print(result)
print(pi)

7
3.14159

In [3]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6,pi)
print(r1)
print(r2)

5.14159
9.14159

In [11]:
# "==" 연산자 vs "is"
# 두 변수가 같은 객체을 가리키고 있는지 검사하려면 "is" 예약어 사용
# 두 변수의 값이 같은지 확인은 "==" 을 사용
# list는 항상 새로운 파이썬 리스트를 생성하므로 c와 a은 구별됨
# is와 is not은 변수가 None인지 검사 시 사용
a = [1,2,3]
b = a
c = list(a)
print(c)
print(a is b)
print(a is c)
print(a == c)
print(a is None)

[1, 2, 3]
True
False
True
False

In [17]:
# 이항 연산자
a = 20; b=8
print(a/b)
print(a//b) # 몫(소수점 이하는 버림)
print(a%b)

2.5
2
4

28

In [20]:
# 리스트, 사전, Numpy 배열, 사용자 정의 클래스 등 대부분의 객체는 변경 가능
a_list = ['foo', 2, [4,5]]
a_list[2] = (3,4)
print(a_list)

# 단 문자열이나 튜플은 변경 불가
a_tuple = (3,4,(4,5))
# a_tuple[1] = 'four'
# print(a_tuple)

# 리스트로 변환 후 수정
a = list(a_tuple)
a[1] = 'four'
a

['foo', 2, (3, 4)]

[3, 'four', (4, 5)]

스칼라형

In [24]:
# 숫자 자료형 : int, float
ival = 10
ival ** 6

1000000

In [23]:
fval = 7.243
fval2 = 6.78e-5
print(fval)
print(fval2)

7.243
6.78e-05

In [29]:
# 정수 나눗셈은 부동소수점수(floating point)를 반환
17/3

5.666666666666667

In [30]:
# 나눗셈의 결과가 정수가 아닐 경우 몫만을 반환
3 // 2

1

In [33]:
# 문자열
c = """
여러 줄에 겹친 문자열은
따옴표 세 개로 둘러싼다
"""
print(c)
c.count('\n') # 개행문자의 수

여러 줄에 겹친 문자열은
따옴표 세 개로 둘러싼다

3

In [36]:
# 파이썬의 문자열은 변경 불가
a = 'this is a string'
# a[10] = 'f'
b = a.replace('string','longer string')
print(b)

this is a longer string

In [39]:
# str 함수를 이용해서 문자열로 변환
a = 5.6
print(a,type(a))
s = str(a)
print(s,type(s))

5.6 <class 'float'>
5.6 <class 'str'>

In [40]:
# 역슬래시(\)는 이스케이프 문자로 개행문자나 유니코드 문자 같은 특수한 목적의 문자를 나타내기 위해 사용
# 특수 문자없이 역슬래시가 많이 포함된 문자는 문자열 앞에 r(raw)을 사용
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [45]:
# 불리언
True and True
True & False
False or False
False | True

True

In [49]:
# 형변환 함수 : str, bool, int, float
s = '3.14159'
fval = float(s)
type(fval)

int(fval)

bool(fval)

bool(0)

False

In [50]:
# None은 파이썬에서 사용하는 Null 값
# None은 함수 인자의 기본값으로 사용
def add_and_maybe_multiply(a,b,c=None):
    result = a + b
    if c is not None:
        result = result * c
        
    return result

In [52]:
# None은 예약어가 아니라 NoneType의 유일한 인스턴스
add_and_maybe_multiply(3,5,2)
type(None)

NoneType

In [19]:
# 날짜 시간 활용
import datetime

now = datetime.datetime.now()
now
print(now.year,"년")
print(now.month,"월")
print(now.day,"일")
print(now.hour,"시")
print(now.minute,"분")
print(now.second,"초")

2020 년
12 월
27 일
20 시
9 분
46 초

In [57]:
# 날짜와 시간
from datetime import datetime, date, time
dt = datetime(2011,10,29,20,30,21)
print(dt.day)
print(dt.minute)
print(dt.date())
print(dt.time())

29
30
2011-10-29
20:30:21

In [58]:
# strftime 함수는 datetime을 문자열로 변환
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [59]:
# strptime 함수를 이용하면 문자열을 해석하여 datetime 객체로 변환
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [66]:
# 분과 초 필드를 0으로 치환해서 새로운 객체 생성
dt = datetime.now()
print(dt)
print(dt.replace(minute = 0, second=0))

2020-12-19 10:04:42.357602
2020-12-19 10:00:00.357602

In [69]:
dt1 = datetime(2011,10,29,20,30,21)
dt2 = datetime(2011,11,15,22,30)
delta = dt2 - dt1
print(delta,type(delta))

17 days, 1:59:39 <class 'datetime.timedelta'>

In [ ]:
# Q.format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요.
# 2020년 7월 19일 10시 22분 36초
now = "{}년 {}월 {}일 {}시 {}분 {}초".format(now.year, now.month, now.day, now.hour, now.minute, \
                                       now.second)
print(now)

In [ ]:
# Q 현재 시각으로 오전과 오후를 구분하는 프로그램을 작성하세요.
t = datetime.datetime.now()
if t.hour < 12:
    print('오전')
else:
    print('오후')

제어문

In [75]:
# if, elif, else
x = 5
if x < 0:
    print('It\'s negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Psoitive and larger than or equal to 5')

Psoitive and larger than or equal to 5

In [79]:
a = 5; b = 7
c = 8; d = 4
a < b or c > d # 왼쪽 조건이 True이므로 오른쪽 조건은 검사하지 않음
# if a < b or c > d:
#     print('Made it')

True

In [ ]:
# 제어문 - if~else
# "현금이 만원 이상 있으면 택시를 타고 그렇지 않으면 버스를 타세요" 
# cash = 15000
cash = 9000
if cash >= 10000:
    print('택시를 타고 가세요')
else:
    print('버스를 타고 가세요')

In [ ]:
# 제어문 - if~elif~else
# "수입과 지출금액을 비교해서 수입이 많은면 저축 증가, 반대이면 빚이 증가, 같으면 현상 유지"
i = 5,000,000
e = 5,000,000 

if i > e:
    print('저축이 늘고있네요!')
elif i < e:
    print('빚이 커지고 있어요!!')
else:
    print('현상 유지하시는군요!!!')

In [ ]:
# for 반복문

numbers = [5, 15, 6, 20, 7, 25]
# print(numbers)
for number in numbers:
    print(number)

In [ ]:
"""
Q. A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for문을 사용하여 A 학급의 평균 점수를 구해 보자.
"""

In [27]:
# A.
a = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for i in a:
    sum += i
    
average = sum/len(a)    
print(average)

79.0

In [ ]:
"""
리스트 중에서 홀수에만 2를 곱하여 저장하는 다음과 같은 코드가 있다.
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.
"""
numbers = [1, 2, 3, 4, 5]
result = [n * 2 for n in numbers if n % 2 == 1]
        
print(result)

In [81]:
# for 문
sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
print(total)

12

In [82]:
sequence = [1,2,3,4,5,6,7,8]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
print(total_until_5)

10

In [ ]:
# 제어문 - for~continue~break
# 1 ~ 10 범위의 정수에서 1부터 5까지만 출력하세요"

for i in range(1,11):
#     print(i)
    print(i, end = ' ')
    
    if i < 5:
        continue
    else:
        break

In [83]:
# break는 가장 안쪽에 있는 for문만 빠져나감
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [18]:
# Q. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수) 
numbers = [5, 15, 6, 20, 7, 25]

In [17]:
# A.
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    if number < 10:        
        continue    
    else:
        print(number, end=' ')

15 20 25

In [86]:
# while 문은 조건을 명시하여 해당 조건이 False가 되거나 break 문을 사용해서 
# 명시적으로 반복을 종료시까지 블록 내의 코드를 실행
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2
print(total)
print(x)

504
4

In [ ]:
# 제어문 - while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요.
x=1
sum = 0
while 1:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

In [ ]:
# Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요. 

sum = 0
i = 1
while i < 1001:
    if i % 3 == 0:
        sum += i
    i += 1
print(sum)

In [92]:
i = 0
while True:
    i += 1
    if i > 5: break
    print('*'*i)

*
**
***
****
*****

In [ ]:
# Q. while~continue~break문을 사용해 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요.

sum = 0
x = 1
while x < 101:
    x = x + 1
    if x < 5:
        continue
    sum += x
    if x > 94:
        break
print(sum)
# 검증
5050 - 500

In [89]:
# pass는 아무 것도 하지 않음을 나타냄
x = 1
if x < 0:
    print('negative!')
elif x == 0:
    pass
else:
    print('positive!')

positive!

In [92]:
# range 함수는 연속된 정수를 넘겨주는 이터레이터를 반환
# start, end, step 값을 지정
range(10) # 마지막 값 바로 이전 정수까지 반환
list(range(10))
list(range(0,20,2))

list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [93]:
# 0 ~ 99,999 까지의 정수 중에서 3 또는 5의 배수 합계
sum = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 ==0:
        sum += 1
print(sum)

46667

In [94]:
# 삼항 표현식
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

자료 구조

In [ ]:
# 튜플 
# 리스트롸 비슷한  성질을 가지고 있는 자료형이지만 요소의 값을 변경할 수 없음
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c'])
# tuple1[0] = 6

def myfunc():
   print('안녕하세요')

tuple4 = (1, 2, myfunc)
# tuple4[2]()       # ‘안녕하세요’ 가 출력됨
print(tuple4[:2])
tuple4[2]()

In [95]:
# 튜플에 저장된 객체 자체는 변경이 가능하지만 각 슬롯에 저장된 객체를 변경하는 것은 불가능
tup = tuple(['foo',[1,2],True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [96]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [97]:
# + 연산자를 이용해서 튜플을 이어붙일 수 있음
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [98]:
# 순차 자료형으로 값을 분리
tup = 4,5,(6,7)
a,b,(c,d) = tup
d

7

In [99]:
# 튜플이나 리스트를 순회시 값을 분리하는 기능 사용
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [4]:
# 튜플에서 값을 분리
values = 1,2,3,4,5
a, b, *rest = values
# a, b, *_ = values # 불필요한 변수라는 것을 나타내기 위해 _를 사용하기도 함
print(a,b)
print(rest)

1 2
[3, 4, 5]

In [5]:
# 튜플 메서드
a = (1,2,3,3,4,4,5,5,5)
a.count(5)

3

파이썬에서 함수와 메서드의 차이
- 프로그래밍 언어에 있어서 함수(function)라는 것은 어떠한 기능을 수행
- 메서드도 함수처럼 어떠한 기능을 수행
- 메서드는 클래스 및 객체(object)와 연관되어 있는 함수
- 함수가 메서드보다 더 큰 개념. 그래서 메서드를 부를 때 포괄적으로 함수로 지칭
- 함수는 sum(), abs() 같이 독립적으로 사용되는 반면, 메서드는 a라는 객체가 존재할 때 a.upper(), a.lower()와 같은 형태로 사용

In [10]:
# 리스트 
# 리스트는 [ ]로 표시하며 [ ]안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]
list1[0] = 6
print(list1)      # [6, 2, 3, 4, 5]가 출력됨
def myfunc():
   print('안녕하세요')
list4 = [1, 2, myfunc]
list4[2]( )     # ‘안녕하세요’ 가 출력됨

[6, 2, 3, 4, 5]
안녕하세요

In [7]:
# 리스트는 크기나 내용의 변경 가능. []나 리스트 함수를 사용해서 생성
# list 함수는 이터레이터나 제너레이터 표현에서 실제 값을 모두 담기 위한 용도로도 자주 사용
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# append 메서드 : 새로운 값 추가
tup = ('foo','bar','baz')
b_list = list(tup)
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

In [13]:
# insert 메서드 사용 특정 위치에 값 추가
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [16]:
# pop 메서드는 특정 위치의 값을 반환하고 해당 값을 리스트에서 삭제
print(b_list)
print(b_list.pop(2))
b_list

['foo', 'red', 'dwarf']
dwarf

['foo', 'red']

In [18]:
# remove 메서드 이용, 원소 삭제시 제일 앞에 위치한 값부터 삭제
b_list = ['foo', 'red', 'bar', 'baz', 'dwarf','foo']
b_list.remove('foo')
b_list

['red', 'bar', 'baz', 'dwarf', 'foo']

In [19]:
# in 예약어를 사용 리스크에 어떤 값이 있는지 검사
'dwarf' in b_list

True

In [21]:
# not in
'dwarf' not in b_list

False

In [22]:
# 리스트 이어 붙이기 
[4, None, 'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [23]:
# extend 메서드
x = [4, None, 'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [32]:
list_of_lists = list(range(10))
list1 = []
for chunk in list_of_lists:
    list1.append(chunk)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# 연산비용 : 리스트를 이어 붙이면 새로운 리스트를 생성하고 값을 복사, 상대적으로 연산비용이 높음
# extend 메서드 사용해서 기존 리스트에 값을 추가하는 것이 효율적
everything = []
list_of_lists = list(range(10))
chunk = []
for i in list_of_lists:
    chunk.append(i)
everything.extend(chunk)
everything

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
everything = []
list_of_lists = list(range(10))
chunk = []
for i in list_of_lists:
    chunk.append(i)
everything = everything + chunk
everything

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
# 정렬 : 새로운 리스트를 생성하지 않고 있는 그대로 리스트를 정렬
a = [7,2,5,1,3]
a.sort()
print(a)
type(a)

[1, 2, 3, 5, 7]

list

In [64]:
# 문자열의 길이 순으로 정렬
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [65]:
# sorted 함수 : 정렬된 복사본을 생성
sorted([5,2,3,1,5])

[1, 2, 3, 5, 5]

In [59]:
# Numpy np.sort()는 원본 행렬을 변경하지 않고 정렬된 형태로 반환
import numpy as np
a1 = [7,2,5,1,3]
ar1 = np.array(a1)
print(np.sort(ar1))
print(ar1,type(ar1))
print(np.sort(ar1)[::-1]) # 내림차순

[1 2 3 5 7]
[7 2 5 1 3] <class 'numpy.ndarray'>
[7 5 3 2 1]

In [60]:
# ndarray.sort()는 원본 행렬 자체를 변환
import numpy as np
a2 = [7,2,5,1,3]
ar2 = np.array(a2)
print(ar2.sort())
print(ar2)
print(ar2[::-1]) # 내림차순

None
[1 2 3 5 7]
[7 5 3 2 1]

In [68]:
# 이진 탐색과 정렬된 리스트 유지
import bisect
c = [1,2,2,2,3,4,7]
print(bisect.bisect(c, 2))

print(bisect.bisect(c, 5))

bisect.insort(c, 6)
c

4
6

[1, 2, 2, 2, 3, 4, 6, 7]

In [70]:
# 슬라이싱
seq = [7,2,3,7,5,6,0,1]
seq[3:4]
seq[-6:-2]

[3, 7, 5, 6]

In [71]:
# 두번째 콜론 다음에 간격(step)을 지정
seq[::2]

[7, 3, 5, 0]

In [72]:
# 간격 값으로 -1을 사용하면 리스트나 튜플을 역순으로 반환
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

In [73]:
# 내장 순차 자료형 함수
# enumerate 함수 : (i, value) 튜플을 반환
some_list = ['foo','bar','baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [75]:
# zip 함수 : 서로 짝지어서 튜플의 리스트를 생성
seq1 = ['foo','bar','baz']
seq2 = ['one', 'two','three']
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [76]:
# 리스트의 크기는 넘겨받은 순차자료중 가장 짧은 크기로 정해짐
seq3 = [False, True]
list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [77]:
# 여러 개의 순차 자료형을 동시에 순회
for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1}, {2}'.format(i,a,b))

0: foo, one
1: bar, two
2: baz, three

In [78]:
# 짝지어진 순차 자료형을 다시 풀어낼 수 도 있음
pichers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]
first_names,last_names = zip(*pichers)
print(first_names)
print(last_names)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [79]:
# reversed 함수 : 순차 자료형을 역순으로 순회
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [82]:
# 사전
# 사전은 키와 값을 하나의 요소로 하는 순서가 없는 집합. 
# 시퀀스 자료형이 아니며 인덱싱으로 값을 접근할 수 없음.
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1['a'])     # 1이 출력됨
dict1['d'] = 4
print(dict1)        # {‘a’:1, ‘b’:2’, ‘c’:3, ‘d’:4}가 출력되나 순서가 틀릴 수 있음
dict1['b'] = 7
print(dict1)        # {‘a’:1, ‘b’:7’, ‘c’:3, ‘d’:4}가 출력되나 순서가 틀릴 수 있음
print(len(dict1))    # 4가 출력됨

1
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 7, 'c': 3, 'd': 4}
4

In [85]:
# 사전에 키가 있는지 확인
b in dict1

False

In [87]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [88]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [90]:
'b' in d1

True

In [94]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
# d1

'another value'

In [100]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [96]:
# 키와 값이 담긴 이터레이터를 반환
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [101]:
# update 메서드 사용, 하나의 사전을 다른 사전과 합칠 수 있음
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [103]:
# 두개의 순차 자료형의 각 원소를 짝지어서 사전 생성
key_list = list(d1.keys())
value_list = list(d1.values())

mapping = {}
for key, value in zip(key_list,value_list):
    mapping[key] = value
mapping

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [111]:
# 2개짜리 튜플의 리스트를 인자로 받아서 사전을 생성
print(list(zip(range(5), reversed(range(5)))))
mapping = dict(zip(range(5), reversed(range(5))))
mapping

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [115]:
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0] # word의 0번째 인덱스의 문자
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [117]:
# 사전의 setdefault 메서드
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [122]:
# 내장 collections 모듈에 있는 defaultdict 클래스
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
print(by_letter)

defaultdict(<class 'list'>, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [125]:
# 유효한 사전 키
# 사전의 값으로 모든 파이썬 객체가 가능하지만 키는 스칼라형이나 튜플처럼 값이 바뀌지 않는 객체만 가능
# 어떤 객체가 해시 가능한(사전의 키로 사용할 수 있는지)는 hash 함수를 사용해서 검사
hash('string')
hash((1,2,(2,3)))
hash(1,2,[2,3]) # 리스트는 변경이 가능한 값이므로 해시 가능하지 않음

TypeError: hash() takes exactly one argument (3 given)

In [127]:
# 리스트를 키로 사용하려면 리스트를 튜플로 변경
d = {}
d[tuple([1,2,3,])] = 5
d

{(1, 2, 3): 5}

In [132]:
# 집합, set(중복을 허용하지 않으며 순서가 없다.)
# set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [128]:
s1 = set([1,2,3,4,5])
print(s1)
s2 = set('Hello')
print(s2)
# 인덱싱을 값을 얻을 수 없다. - 리스트나 튜플로 변환 후 인덱싱
# print(s1[1])
l1 = list(s1)
print(l1)
print(l1[1])
l2 = list(s2)
print(l2)
print(l2[1])

{1, 2, 3, 4, 5}
{'H', 'o', 'l', 'e'}
[1, 2, 3, 4, 5]
2
['H', 'o', 'l', 'e']
o

In [134]:
# 합집합, 교집합
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)
print(a | b)
a.intersection(b)
print(a & b)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [135]:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [136]:
# 집합 원소들도 변경 부가능해야 함. 리스트 같은 원소를 담으려면 튜플로 변경
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [137]:
# 부분집합인지 확대집합인지 여부 확인
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [138]:
{1, 2, 3} == {3, 2, 1}

True

In [129]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s3 = list(s1 | s2)
s4 = list(s1 & s2)
print(s3)
print(s4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [139]:
# 리스트, 집합, 사전 표기법
# 문자열의 길이가 2이하인 문자열은 제외하고 나머지를 대문자로 변경
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [140]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [141]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [ ]:
# Q. 리스트 strings 에서 문자열의 위치를 담고있는 사전 생성
# strings = ['a','as','bat','car','dove','python']

In [142]:
# A. 
strings = ['a','as','bat','car','dove','python']
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [143]:
# 중첩된 리스트 표기법
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [147]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
result = []
for names in all_data:
    for name in names:
        if name.count('e') >= 2:
            result.append(name)
result

['Steven']

In [ ]:
# Q. some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]을 단순한 리스트로 변환하세요

In [144]:
# A.
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
# 리스트의 리스트를 생성
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Q. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

In [ ]:
birth_year = input("태어난 연도를 입력하세요> ")
byear = int(birth_year)
if byear % 12 == 0:
    print("원숭이띠입니다.")
elif byear % 12 == 1:
    print("닭띠입니다.")
elif byear % 12 == 2:
    print("개띠입니다.")
elif byear % 12 == 3:
    print("돼지띠입니다.")
elif byear % 12 == 4:
    print("쥐띠입니다.")
elif byear % 12 == 5:
    print("소띠입니다.")
elif byear % 12 == 6:
    print("범띠입니다.")
elif byear % 12 == 7:
    print("토끼띠입니다.")
elif byear % 12 == 8:
    print("용띠입니다.")
elif byear % 12 == 9:
    print("뱀띠입니다.")
elif byear % 12 == 10:
    print("말띠입니다.")
else:
    print("양띠입니다.")

Q. 계절 구분 프로그램

- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [24]:
import datetime
t = datetime.datetime.now()
if 3<= t.month <= 5:
    print("현재의 계절은 봄입니다!!!")
if 6<= t.month <= 8:
    print("현재의 계절은 여름입니다!!!")
if 9<= t.month <= 11:
    print("현재의 계절은 가을입니다!!!")
if 1<= t.month <= 2 or t.month == 12:
    print("현재의 계절은 겨울입니다!!!")

현재의 계절은 겨울입니다!!!

Q. 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [25]:
coffee = 5

while(True):
    money = int(input("맛있는 커피를 300원에 드려요~~ 현금을 넣어주세요!!"))
    if money == 300:
        print("행복한 시간을 드리는 커피 드세요")
        coffee = coffee - 1
    elif money > 300:
        print("커피 맛있게 드시고 거스름돈 {}원 받는 것 잊지 마시구요".format(money-300))
        coffee = coffee - 1
    else:
        print("커피는 300원이예요~~ 현금을 다시 넣어주세요 ")
        print("남은 커피는 %d잔 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌네요~~ 잠시 판매중지합니다!!!")
        break

맛있는 커피를 300원에 드려요~~ 현금을 넣어주세요!!300
행복한 시간을 드리는 커피 드세요
맛있는 커피를 300원에 드려요~~ 현금을 넣어주세요!!300
행복한 시간을 드리는 커피 드세요
맛있는 커피를 300원에 드려요~~ 현금을 넣어주세요!!300
행복한 시간을 드리는 커피 드세요
맛있는 커피를 300원에 드려요~~ 현금을 넣어주세요!!300
행복한 시간을 드리는 커피 드세요
맛있는 커피를 300원에 드려요~~ 현금을 넣어주세요!!300
행복한 시간을 드리는 커피 드세요
커피가 다 떨어졌네요~~ 잠시 판매중지합니다!!!